[submodule "carat"]
	path = src.bak/backends/external/carat
	url = https://github.com/lbfm-rwth/carat.git
[submodule "polyhedral_common"]
	path = src/external/dutsik_polyhedral/polyhedral_common
	url = git@github.com:MathieuDutSik/polyhedral_common.git
[submodule "VinbergsAlgorithmNF"]
	path = src.bak/backends/external/vinbergs_algorithm/references/VinbergsAlgorithmNF
	url = https://github.com/bottine/VinbergsAlgorithmNF.git
[submodule "vinal"]
	path = src.bak/backends/external/vinbergs_algorithm/references/vinal
	url = https://github.com/aperep/vinal.git
